{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--WEB3-CONNECT-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>

    <!--stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--title-->
    <title>SAVERS</title>
</head>
<body style="background:black">
    
    <!--navbar-->
        <div class="navbar">

            <div class="mainname">
               <a href="{% url 'index' %}"> <div class="nav-title">SAVERS</div></a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{% url 'aboutus' %}">ABOUT-US</a></li>
                    {% if user.is_authenticated %}
                    <li><a style="color:#AAAAAA">Hello, {{user.first_name}}</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    <li><a href="{% url 'project' %}">GO-BACK</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


        <h1>Help Jay fight head and neck cancer</h1>
        <div style="color:white; margin-left:2cm; margin-right:2cm; margin-top:1cm; font-size:20px" class="paragraph">
            <img src="static/images/cancer.jpg" style="width:100%;height:100%">
            <a>Jay who has been suffering from cancer need a urgent help for his surgery !! <br>“Head and neck cancer” is the term used to describe a number of different malignant tumors that develop in or around the throat, larynx, nose, sinuses, and mouth.
                <br><br>Most head and neck cancers are squamous cell carcinomas. This type of cancer begins in the flat squamous cells that make up the thin layer of tissue on the surface of the structures in the head and neck. Directly beneath this lining, which is called the epithelium, some areas of the head and neck have a layer of moist tissue, called the mucosa. If a cancer is only found in the squamous layer of cells, it is called carcinoma in situ. If the cancer has grown beyond this cell layer and moved into the deeper tissue, then it is called invasive squamous cell carcinoma. If doctors cannot identify where the cancer began, it is called a cancer of unknown primary.</a>
        </div>

        <div class="donatehere">
            <!--<input style="background-color:white; margin-left:13.8cm; margin-top:1cm" placeholder="Enter amount" type="text" id="amount">-->
            <button onclick="sendTransaction()" style="margin-top:1cm" id="donate" class="button-86" role="button">Donate</button>
        </div>

      
        <div class="ifissueoccurs" style="color:rgb(169, 169, 169); margin-left:8cm; margin-top:1cm;margin-bottom:1cm">
            <bb>If something isn't right, we will work with you to ensure no misuse occurs.
                CONTACT US</bb>
        </div>


        <!--donation-metamask-->
        <script>

            async function sendTransaction(){
              let  params = [
                {
                  "from": "0x5a3dbC19531943a5c8013203Fe8c9b0407700489",
                  "to": "0x99Ffd3e62D97d0A7A8131a6E43C8A116E837F45C",
                  "gas": Number(21000).toString(16),
                  "gasPrice": Number(2500000).toString(16),
                  "value": Number(1000000000000000000).toString(16),
                }
              ]
              
               let result = await window.ethereum.request({method: "eth_sendTransaction", params}).catch((err)=>{
                console.log(err)
               })
            }



        </script>
          
   

</body>
</html>